*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #151208;
  background-size: 100%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-image: 
    radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 1)),
    url('board-bg.jpg');
}