*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #151208;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: 
    radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 1)),
    url('/board-bg.jpg');
}